{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<h3>{{#str}}category_users_title, local_helpdesk{{/str}}</h3>

<a href="{{config.wwwroot}}/admin/roles/assign.php?contextid={{contextid}}&roleid={{roleid}}"
    target="_blank" class="btn btn-info">{{#str}}helpdesk_manage_users, local_helpdesk{{/str}}</a>

<div class="select-users mt-2">
    <div id="existingcell">
        <label>{{#str}}category_users_responses, local_helpdesk{{/str}}</label>
        {{{existinguserselector}}}
    </div>
    <div id="buttonscell">
        <div id="addcontrols">
            <input class="btn btn-secondary" name="add" id="add" type="submit"
                   value="&lt;&lt;&nbsp;{{#str}}add{{/str}}" title="{{#str}}add{{/str}}"><br/>
        </div>

        <div id="removecontrols">
            <input class="btn btn-secondary" name="remove" id="remove" type="submit"
                   value="{{#str}}remove{{/str}}&nbsp;&gt;&gt;" title="{{#str}}remove{{/str}}">
        </div>
    </div>
    <div id="potentialcell">
        <label>{{#str}}category_users_all, local_helpdesk{{/str}}</label>
        {{{potentialuserselector}}}
    </div>
</div>
